// Import Bulma's core
//@use 'fortawesome/fontawesome-pro/scss/font-awesome';

// colors

//* default colors
$white: #FFFFFF;
$black: #000000;
$teal-300: #4db6ac;


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

#app {
}

#login {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    

    & .login-card {
        padding: 20px;
        width: 600px;

        & .login-card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        & .mdc-form__item {
            padding: 20px 0;

            & .mdc-text-field {
                width: 100%;
            }

            & .mdc-button {
                background: $teal-300;
                width: 100%;
            }
        }
    }
}